{% extends "::base.html.twig" %}

{% block title %}ademBundle:EventSponsor:afficher_eventSponsor{% endblock %}

{% block body %}
<h1>Welcome to the EventSponsor:afficher_eventSponsor page</h1>
{% endblock %}
