{% extends "::base.html.twig" %}

{% block title %}ademBundle:EventSponsor:ajouter_evenSponsor{% endblock %}

{% block body %}
<h1>Welcome to the EventSponsor:ajouter_evenSponsor page</h1>
{% endblock %}
