{% extends "::base.html.twig" %}

{% block title %}ademBundle:EventSponsor:modifier_eventSponsor{% endblock %}

{% block body %}
<h1>Welcome to the EventSponsor:modifier_eventSponsor page</h1>
{% endblock %}
