{% extends "::base.html.twig" %}

{% block title %}ademBundle:EventSponsor:supprimer_eventSponsor{% endblock %}

{% block body %}
<h1>Welcome to the EventSponsor:supprimer_eventSponsor page</h1>
{% endblock %}
