{% extends "::base.html.twig" %}

{% block title %}ademBundle:emprunterLivre:retourner_livre{% endblock %}

{% block body %}
<h1>Welcome to the emprunterLivre:retourner_livre page</h1>
{% endblock %}
